.subtitle {
  font-size: 18px;
  color: gray;
  text-align: center;
  max-width: 80%;
}

.index{
    border-radius: 500px;
    background-color: gray;
    min-height: 64px;
    min-width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bolder;
}

.text{
    text-align: center;
}