.strip{
    width: 100%;
    height: 96px;
    margin: 64px 0;
}

.logo{
    height: auto;
    max-height: 100px;
    max-width: 100px;
    filter: grayscale(100%);
    transition: filter 200ms ease-in-out;
    cursor: pointer;
}

.logo:hover{
    filter: none; /* or use grayscale(0%) */
}