.icon{
  width: 24px;
  height: 24px;
  margin: 8px;
}

.title{
  font-size: 24px;
  font-weight: 300;
  text-transform: capitalize;
}

.card_header{
    align-content: center;
    justify-content: flex-start;
}

.card{
    min-width: 300px;
}

.form_row{
    margin: 8px 0;
}