.main_box{
    width: 90%;
    padding: 16px 32px;
    margin: 32px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.shipping_widget{
    background-color: none;
}

.package_size_title{
    margin-bottom: 8px;
}

.title{
    text-align: center;
    margin: 40px;
    h1{
        font-size: xx-large;
        margin-bottom:12px;
        color: rgb(255, 255, 255);
    }
    p{
        font-size: medium;
        color: rgb(255, 255, 255);
    }
}

@media screen and (max-width: 940px) {
  .main_box{
    flex-direction: column;
  }
}